#logo{
    display: block;
    float: top;
    margin-left: auto;
    margin-right: auto;
    height: 18em;
    margin: none;
}
.navigation{
    margin: none;
    display: inline;
}
#navButton{
    position: static;
    width: 20%;
    height: 7vh;
    background: none;
    margin: none;
    padding: none;
    border: none;
    cursor: pointer;
    color: black;
}
#navButton.active{
    border-bottom: solid;
    cursor: default;
}
.body{
    margin-top: 5%;
}
.contact{
    margin-top: 10%;
    border: solid;
    border-color: lightgrey;
    border-radius: 5vh;
    background: #FDFDFF;
    padding: 2%;
    width: 50%;
    height: 50vh;
    margin-left: 25%;
    margin-right: auto;
    text-align: center;
    margin-bottom: 50vh;
}
.followMe{
    background: #add8e6;
    border: solid  2px darkblue;
    border-radius: 5vh;
    margin-top: 12.5vh;
    width: 40vh;
    height: 16vh;
}
.followMe:hover{
    background: #9cc7d5;
}
.Gallery{
    margin: 4vh;
    margin-bottom: 0;
}
#galleryImage{
    height:50vh;
    margin: 0.5vh;
    cursor: pointer;
}
#galleryImage:hover{
    filter: blur(4px) brightness(90%);
}
button:hover{
   cursor: pointer; 
}